* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Comfortaa', sans-serif;
    width: 100%;
}

.fotoFooter {
    width: 300px;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: transparent;
    transform: rotate(20deg);
    box-shadow: 5px 5px 10px rgba(2, 2, 2, 0.2);
    transition: transform 0.7s;
    position: absolute;
    right: 0;
    bottom: 0;
}

.containerFooter:hover .fotoFooter {
    transform: rotate(180deg);
}

.containerFooter .nombre {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    transition: transform 0.7s;
    height: 410px;
    width: 280px;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgba(2, 2, 2, 0.2);
    right: 0;
    bottom: 0;
    font-size: 30px;
}

.containerFooter:hover .nombre {
    transform: rotateY(0deg);
}

.fondoHeader {
    background-color: #000000;
    padding: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
}

.toggleMenu {
    display: flex;
    align-items: center;
}

.toggleMenu ul.submenu {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.containerHeader {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.quitaPunto {
    list-style: none;
    text-decoration: none;
}

.letra {
    font-size: 30px;
    font-weight: 900;
    line-height: 5rem;
}

.inline {
    display: inline;
}

main {
    background-image: url('img/porteria.jpg');
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-height: 400px;
    width: auto;
    background-color: #000000;
    position: relative; /* Cambiado a relativo para mantener las imágenes dentro */
}

.messi {
    position: absolute;
    top: 200px; /* Ajustar según sea necesario */
    left: 50%; /* Ajustar según sea necesario */
    transform: translateX(-50%);
    width: 200px;
    height: auto;
    animation: messi 6s ease-in-out infinite;
    z-index: 2;
}

.pelota {
    position: absolute;
    top: 90%; /* Ajustar según sea necesario */
    left: 50%; /* Ajustar según sea necesario */
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    animation: pelota 2s ease-in-out infinite;
}

@keyframes pelota {
    0%, 100% {
        transform: translate(-50%, -40%);
    }
    50% {
        transform: translate(-50%, -350%) translateY(-20px) translateX(-20px);
    }
}

@keyframes messi {
    0%, 100% {
        transform: translate(-20%, -40%);
    }
    50% {
        transform:   translateX(20px);
    }
}

.grada1{
    position: absolute;
    top: 200px; /* Ajustar según sea necesario */
    left: 0px; /* Ajustar según sea necesario */
    width: 350px;
    height: auto;
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-height: 200px;
    width: auto;
    background-color: #000000;
    position: relative; /* Cambiado a relativo para mantener las imágenes dentro */
}

.grada2{
    position: absolute;
    top: 0px; /* Ajustar según sea necesario */
    left: -300px; /* Ajustar según sea necesario */
    width: 350px;
    height: auto;
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-height: 200px;
    width: auto;
    background-color: #000000;
    position: relative; /* Cambiado a relativo para mantener las imágenes dentro */
}

.grada3{
    position: absolute;
    top: 0px; /* Ajustar según sea necesario */
    left: 300px; /* Ajustar según sea necesario */
    width: 350px;
    height: auto;
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-height: 200px;
    width: auto;
    background-color: #000000;
    position: relative; /* Cambiado a relativo para mantener las imágenes dentro */
}

.grada4{
    position: absolute;
    top: 200px; /* Ajustar según sea necesario */
    left: 0px; /* Ajustar según sea necesario */
    width: 350px;
    height: auto;
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-height: 200px;
    width: auto;
    background-color: #000000;
    position: relative; /* Cambiado a relativo para mantener las imágenes dentro */
}

.flex{
    display: flex;
    justify-content: center;
}

.celebracion1{
    height: 100px;
    margin-left: -700px;
    position: relative;
    animation: celebracion1 2s ease-in-out infinite;
}

@keyframes celebracion1 {
    0% {
        transform: translate(-20%, -40%) rotate(0deg);
    }
    50% {
        transform: translate(-20%, -40%) rotate(180deg);
    }
    100% {
        transform: translate(-20%, -40%) rotate(360deg);
    }
}

.fondoFooter {
    background-color: #000000;
    padding: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
}

.celebracion2{
    height: 100px;
    margin-top: -250px;
    margin-left: -900px;
    position: relative;
    animation: celebracion2 2s ease-in-out infinite;
    z-index: 2;
}

@keyframes celebracion2 {
    0% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(60%);
    }
    100% {
        transform: translateX(-10%);
    }
}

.arbitro{
    width: 350px;
    position: relative;
    margin-top: -200px;
    margin-right: 400px;
    animation: arbitro 2s ease-in-out infinite;
}

@keyframes arbitro {
    0% {
        transform: translateX(10%);
    }
    50% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(10%);
    }
}

.portero{
    width: 200px;
    position: absolute;
    margin-top: -200px;
    margin-right: 100px;
    animation: arbitro 3s ease-in-out infinite;
    transform: translateX(-50%);
    z-index: 1;
}

.grada{
    width: 300px;
    margin: -300px 0px 0px 900px;
    position: absolute;
}

a{
    color: aliceblue;
    list-style: none;
    text-decoration: none;
}

.celebracion3{
    height: 100px;
    margin-top: -60px;
    margin-left: -1021px;
    position: relative;
}

.celebracion4{
    height: 100px;
    margin-top: -102px;
    margin-left: 780px;
    position: relative;
}

.celebracion5{
    height: 100px;
    margin-top: -402px;
    margin-left: -1021px;
    position: relative;
    z-index: 1;
}